* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}


:root {
    /*Colors */
    --color1: #010d26;
    --color2: #a2bdf2;
    --color3: #bbcdf2;
    --color4: #4384d9;
    --color5: #6da7f2;
    --color6: rgb(228, 228, 228);
  
    /*Fonts */
    --font-destaque: "Holtwood One SC";
    --font-padrao: "Montserrat", sans-serif;
    --shadow: 2px 2px 6px #00000067;
  }

body {
    background-color: var(--color3);
    padding: 20px;
    color: var(--color1);
}
    
    h1{
        text-align: center;
        margin-bottom: 20px;
color: var(--color1);
    }
p{
    margin-bottom:20px;
    text-align: center;

}

.container {
    max-width: 600px;
    margin: 0 auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

select, input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--color1);
    border-radius: 5px;
    font-weight: bold;
    color: var(--color1);

    
}

.radio-group {
    display: flex;
    gap: 15px;
    margin-top: 5px;
    color: var(--color1);
    
}

.radio-group label {
    font-weight: normal;
    display: flex;
    align-items: center;
    gap: 5px;
}

button {
    background-color: var(--color1);
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background 0.3s;

    &:hover{
        background-color: #05112cc9;
        box-shadow: var(--shadow);
    }
}



#resultado {
    margin-top: 20px;
    padding: 15px;
    background-color: var(--color3);
    box-shadow: var(--shadow);
    color:var(--color1);
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    display: none;
}

.preco {
    font-size: 24px;
    font-weight: bold;
    color: var(--color1)
}

