@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*Colors */
  --color1: #010d26;
  --color2: #a2bdf2;
  --color3: #bbcdf2;
  --color4: #4384d9;
  --color5: #6da7f2;
  --color6: rgb(228, 228, 228);

  /*Fonts */
  --font-destaque: "Holtwood One SC";
  --font-padrao: "Montserrat", sans-serif;
  --shadow: 2px 2px 6px #00000067;
}
body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-padrao);
}

.container{
  height: 100vh;
  width: 100vw;
  background-color: var(--color3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 300px;
    width: 400px;
  }
}