@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*Colors */
  --color1: #010d26;
  --color2: #a2bdf2;
  --color3: #bbcdf2;
  --color4: #4384d9;
  --color5: #6da7f2;
  --color6: rgb(228, 228, 228);

  /*Fonts */
  --font-destaque: "Holtwood One SC";
  --font-padrao: "Montserrat", sans-serif;
  --shadow: 2px 2px 6px #00000067;
}
body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background-color: var(--color3);
  font-family: var(--font-padrao);
}

.container {
  background-image: url(/images/fundo-login-register.jpg);
background-position: center;
background-size: cover;
box-shadow: var(--shadow);
margin: auto;

  height: 100vh;
max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 300px;
    width: 450px;
    box-shadow: var(--shadow);
    border-radius: 10px;

    h2 {
      color: var(--color1);
      margin-bottom: 15px;
      font-variant: small-caps;
    }

    .box {
      width: 55%;
      border-radius: 8px;
    }

    input {
      color: var(--color1);
      padding: 7px;
      border: none;
      margin: 7px;
      border-bottom: 1px solid var(--color1);
      border-left: 1px solid var(--color1);
      outline: none;
    }
    button {
      border: none;
      padding: 7px;
      margin-top: 10px;
      color: #fff;
      background-color: var(--color1);
      box-shadow: var(--shadow);
      transition: all 0.5s ease;
      &:hover,
      &:focus,
      &:active {
        box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.582);
        padding: 9px;
      }
    }
  }
}

p {

font-size: .9em;

  margin-top: 25px;

  a {
    color: var(--color1);
  }
}
